@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
	--line-border-fill: #628141;
	--line-border-empty: #ebd5ab;
	--bg-color: #f1f1f1;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.container {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	width: 950px;
	position: relative;
	margin-bottom: 30px;
}

.progress-container::before {
	content: '';
	background-color: var(--line-border-empty);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	z-index: -1;
}

.progress {
	background-color: var(--line-border-fill);
	position: absolute;
	top: 50%;
	left: 0;
	height: 4px;
	transform: translateY(-50%);
	z-index: -1;
	transition: 0.4s ease;
}

.circle {
	background-color: var(--bg-color);
	height: 50px;
	width: 50px;
	border: 3px solid var(--line-border-empty);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s ease;
}

.circle.active {
	border-color: var(--line-border-fill);
}

.btn {
	font-family: inherit;
	border: none;
	background-color: var(--line-border-fill);
	color: var(--bg-color);
	font-size: 18px;
	border-radius: 6px;
	padding: 8px 30px;
	cursor: pointer;
}

.btn:active {
	transform: scale(0.98);
}

.btn:disabled {
	background-color: var(--line-border-empty);
	cursor: not-allowed;
}
