@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
	--line-border-fill: #628141;
	--line-border-empty: #ebd5ab;
	--bg-color: #f1f1f1;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh;
	overflow-x: hidden;
	background-color: steelblue;
}

.container {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 30px 50px;
	border-radius: 15px;
}

.container h1 {
	color: white;
	text-align: center;
}

.container a {
	text-decoration: none;
	color: lightblue;
}

.btn {
	width: 100%;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	background-color: lightblue;
	padding: 5px 0;
	font-size: 16px;
}

.btn:focus {
	outline: 0;
}

.btn:active {
	transform: scale(0.98);
}

.form-control {
	position: relative;
	width: 400px;
	margin: 20px 0;
}

.form-control input {
	background-color: transparent;
	border: none;
	border-bottom: 2px white solid;
	width: 100%;
	padding: 15px 0;
	font-size: 20px;
}

.form-control input:focus,
.form-control input:valid {
	outline: 0;
	border-bottom-color: lightblue;
}

.form-control label {
	position: absolute;
	top: 15px;
	left: 0;
}

.form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
	color: lightblue;
	transform: translateY(-30px);
}
