@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
	--line-border-fill: #628141;
	--line-border-empty: #ebd5ab;
	--bg-color: #f1f1f1;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	overflow-x: hidden;
	background-color: #efedd6;
}

h1 {
}

.box {
	background-color: steelblue;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	width: 500px;
	height: 400px;
	border-radius: 20px;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
	transform: translateX(400%);
	transition: all 0.7s ease-in-out;
}

.box:nth-of-type(even) {
	transform: translateX(-400%);
}

.box.show {
	transform: translateX(0);
}
