@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
	--line-border-fill: #628141;
	--line-border-empty: #ebd5ab;
	--bg-color: #f1f1f1;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh;
	overflow-x: hidden;
	background-color: steelblue;
}
