@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
	--line-border-fill: #628141;
	--line-border-empty: #ebd5ab;
	--bg-color: #f1f1f1;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	font-family: 'Muli', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	width: 1000px;
	position: relative;
	margin-bottom: 30px;
}

.progress {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-color: var(--line-border-fill);
	height: 4px;
	width: 0;
	z-index: -1;
	transition: 0.4s all;
}

.progress-container::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	height: 4px;
	background-color: var(--line-border-empty);
	z-index: -1;
	transition: 0.4s all;
}

.circle {
	border: 4px solid var(--line-border-empty);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: var(--bg-color);
	transition: 0.4s all;
}

.circle.active {
	border-color: var(--line-border-fill);
}

.btn {
	background-color: var(--line-border-fill);
	border: none;
	color: var(--bg-color);
	font-family: inherit;
	font-size: 16px;
	padding: 8px 30px;
	border-radius: 6px;
	cursor: pointer;
}

.btn:active {
	transform: scale(0.98);
}

.btn:disabled {
	cursor: not-allowed;
	background-color: var(--line-border-empty);
}
