@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
	--line-border-fill: #628141;
	--line-border-empty: #ebd5ab;
	--bg-color: #f1f1f1;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	font-family: 'Muli', sans-serif;
}

.progress-container {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	width: 900px;
	max-width: 100%;
	position: relative;
}

.progress-container::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	height: 4px;
	background-color: var(--line-border-empty);
	z-index: -1;
}

.progress {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-color: var(--line-border-fill);
	transition: 0.4s all;
	height: 4px;
	width: 0%;
	z-index: -1;
}

.circle {
	width: 50px;
	height: 50px;
	border: 3px solid var(--line-border-empty);
	border-radius: 50%;
	color: var(--line-border-fill);
	background-color: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s ease-in;
}

.circle.active {
	border-color: var(--line-border-fill);
}

.button-conatiner {
	margin-top: 30px;
	display: flex;
	gap: 15px;
	justify-content: center;
}

.btn {
	font-size: 16px;
	padding: 7px 35px;
	border: none;
	border-radius: 5px;
	background-color: var(--line-border-fill);
	color: var(--bg-color);
	cursor: pointer;
}

.btn:active {
	transform: scale(0.95);
}

.btn:disabled {
	cursor: not-allowed;
	background-color: var(--line-border-empty);
}
