* {
	box-sizing: border-box;
}

body {
	background-color: lightgray;
}

h1 {
	text-align: center;
	margin: 50px 0 30px;
}

.faq-container {
	max-width: 600px;
	margin: 0 auto;
}

.faq {
	background-color: transparent;
	border: 1px solid white;
	margin: 20px 0;
	padding: 30px;
	position: relative;
	overflow: hidden;
	transition: 0.3s ease;
}
