/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100..900&family=Instrument+Sans&family=Red+Hat+Text:wght@300..700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
	/*========== Colors ==========*/
	--hue: 13;
	--first-color: hsl(var(--hue), 95%, 54%);
	--title-color: hsl(var(--hue), 4%, 12%);
	--text-color: hsl(var(--hue), 4%, 27%);
	--text-color-light: hsl(var(--hue), 4%, 65%);
	--body-color: hsl(var(--hue), 4%, 100%);
	--container-color: hsl(var(--hue), 4%, 96%);
	--border-color: hsl(var(--hue), 4%, 62%);
	--white-color: hsl(var(--hue), 4%, 100%);
	--gray-color: hsl(var(--hue), 4%, 85%);

	/*========== Font family ==========*/
	--body-font: 'Azeret Mono', monospace;
	--second-font: 'Instrument Sans', sans-serif;

	/*========== Font sizes ==========*/
	--bid-font-size: 4rem;
	--h1-font-size: 3rem;
	--h2-font-size: 2.5rem;
	--h3-font-size: 1.75rem;
	--h4-font-size: 1.5rem;
	--largest-font-size: 1.375rem;
	--larger-font-size: 1.25rem;
	--large-font-size: 1.125rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.875rem;

	/*========== Font weight ==========*/
	--weight-500: 500;
	--weight-600: 600;
	--weight-700: 700;
}

/* Responsive typography */

/*=============== BASE ===============*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
input,
textarea,
button {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--text-color);
}

body {
	background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
	color: var(--title-color);
	font-weight: var(--weight-700);
	line-height: 1.2;
}

p {
	line-height: 1.75;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--title-color);
}

button,
input,
textarea {
	background-color: transparent;
	border: none;
	outline: none;
}

img {
	display: block;
	max-width: 100%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
	padding-block: 7.5rem;
}

.section-title {
	font-size: var(--h1-font-size);
	margin-bottom: 3rem;
	position: relative;
}

.title-center {
	text-align: center;
	max-width: 800px;
	margin-inline: auto;
	margin-bottom: 5rem;
}

.section-title::before {
	content: attr(data-title);
	display: block;
	color: var(--text-color);
	text-transform: uppercase;
	font-size: var(--normal-font-size);
	font-weight: var(--weight-500);
	margin-bottom: 0.75rem;
}

.title-center::after {
	content: '';
	position: absolute;
	background-color: var(--gray-color);
	width: 300px;
	height: 1px;
	bottom: -1.75rem;
	left: 50%;
	transform: translateY(-50%);
}

/*=============== SECTION TITLE ===============*/

/*=============== BUTTON ===============*/
.btn {
	display: inline-flex;
	background-color: var(--first-color);
	padding: 1rem 2.5rem;
	color: var(--white-color);
	font-weight: var(--weight-700);
	border-radius: 1rem;
}

/*=============== LAYOUT ===============*/
.container {
	max-width: 1416px;
	margin-inline: auto;
	padding-inline: 1.25rem;
}

/*=============== HEADER ===============*/
.header {
	margin-bottom: 1rem;
}

/*========== Topbar ==========*/
.topbar {
	background-color: var(--first-color);
	padding-block: 0.5rem;
}

.topbar-container,
.bottom-bar,
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.topbar-container {
	column-gap: 3.75rem;
}

.topbar-list,
.topbar-socials,
.topbar-shipping {
	display: flex;
}

.topbar-list {
	column-gap: 3rem;
}

.topbar-item {
	position: relative;
}

.topbar-item:not(:last-child)::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: var(--white-color);
	right: -1.5rem;
}

.topbar-link,
.topbar-text {
	color: var(--white-color);
	font-weight: var(--weight-500);
	text-transform: uppercase;
}

.topbar-socials {
	column-gap: 0.5rem;
	margin-right: auto;
}

.topbar-social-link {
	width: 38px;
	aspect-ratio: 1/1;
	background-color: var(--white-color);
	border-radius: 50%;
	display: grid;
	place-items: center;
	font-size: var(--large-font-size);
	transition: all 0.3s ease;
}

.topbar-social-link:hover {
	background-color: var(--first-color);
	color: var(--white-color);
}

.topbar-shipping {
	column-gap: 1rem;
}

/*========== Bottom bar ==========*/
.bottom-bar {
	padding-block: 1.25rem;
}

.navbar-form,
.navbar-btns {
	display: flex;
	align-items: center;
}

.navbar-form,
.nice-select {
	border: 1px solid var(--border-color);
	height: 44px;
	border-radius: 2rem;
}

.nice-select {
	width: 230px;
	background-color: var(--container-color);
	line-height: 44px;
}

.navbar-form .nice-select {
	border-left: none;
}

.nice-select:hover {
	border-color: var(--border-color);
}

.nice-select .nice-select-dropdown {
	width: 100%;
	max-height: 300px;
	overflow-y: initial;
}

.navbar-input {
	width: 430px;
	padding-left: 1rem;
}

.navbar-search {
	width: 45px;
	height: 100%;
	border-left: 1px solid var(--border-color);
	cursor: pointer;
}

.navbar-btns {
	column-gap: 0.75rem;
}

.navbar-btn {
	width: 46px;
	aspect-ratio: 1/1;
	border: 1px solid var(--title-color);
	border-radius: 50%;
	display: grid;
	place-items: center;
	font-size: var(--large-font-size);
	transition: all 0.3s ease;
}

.navbar-btn:hover {
	background-color: var(--first-color);
	border-color: var(--first-color);
	color: var(--white-color);
}

/*========== Navbar ==========*/
.navbar {
	padding-block: 0.375rem;
}

.navbar-list,
.navbar-contact {
	display: flex;
}

.navbar-list {
	column-gap: 2.5rem;
}

.navbar-link {
	text-transform: uppercase;
}

.navbar-link,
.navbar-call-link {
	font-weight: var(--weight-500);
	transition: color 0.3s ease;
}

.navbar-link:hover,
.navbar-call-link:hover {
	color: var(--first-color);
}

.navbar-contact {
	align-items: center;
	column-gap: 1.25rem;
}

/*=============== HOME ===============*/

/* Swiper */
.home-swiper .swiper-slide {
	padding-block: 10.5rem;
}

.home-tag {
	background-color: var(--white-color);
	color: var(--first-color);
	display: inline-flex;
	align-items: center;
	column-gap: 0.5rem;
	padding: 0.25rem 1.125rem;
	border-radius: 2rem;
	font-weight: var(--weight-700);
}

.home-title {
	font-size: var(--bid-font-size);
	max-width: 800px;
	margin-block: 1rem 2.5rem;
}

.home-description {
	max-width: 450px;
	margin-bottom: 2rem;
}

.swiper-pagination .swiper-pagination-horizontal {
	bottom: 2rem;
}

.swiper-pagination-bullet {
	width: 20px;
	height: 4px;
	background-color: var(--gray-color);
	opacity: 1;
	border-radius: 0;
}

.swiper-pagination-bullet-active {
	width: 80px;
}

/*=============== PRODUCTS ===============*/

/*=============== CATEGORIES ===============*/

/*=============== FEATURES ===============*/

/*=============== PRODUCTS ===============*/

/*=============== CATEGORY ===============*/

/*=============== NEWSLETTER ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/*=============== BANNER ===============*/

/*=============== SHOP ===============*/

/*========== Top ==========*/

/*========== Filters ==========*/

/*========== Products ==========*/

/*========== Pagination ==========*/

/*=============== DETAILS ===============*/

/*=============== DETAILS CONTENT ===============*/

/*=============== ACCOUNT ===============*/

/*=============== CART ===============*/

/*=============== CART BOTTOM ===============*/

/*=============== WISHLIST ===============*/

/*=============== CHECKOUT ===============*/

/*=============== RETURNS ===============*/

/*=============== STEPS ===============*/

/*=============== ACCORDION ===============*/

/*=============== CONTACT ===============*/

/*=============== ACCORDION ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */

/* For medium devices */

/* For small devices */
