/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100..900&family=Instrument+Sans&family=Red+Hat+Text:wght@300..700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
	/*========== Colors ==========*/
	--hue: 13;
	--first-color: hsl(var(--hue), 90%, 45%);
	--title-color: hsl(var(--hue), 4%, 12%);
	--text-color: hsl(var(--hue), 4%, 27%);
	--text-color-light: hsl(var(--hue), 4%, 65%);
	--body-color: hsl(var(--hue), 4%, 100%);
	--container-color: hsl(var(--hue), 4%, 96%);
	--border-color: hsl(var(--hue), 4%, 62%);
	--white-color: hsl(var(--hue), 4%, 100%);
	--gray-color: hsl(var(--hue), 4%, 85%);

	/*========== Font family ==========*/

	/*========== Font sizes ==========*/

	/*========== Font weight ==========*/
}

/* Responsive typography */

/*=============== BASE ===============*/

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== SECTION TITLE ===============*/

/*=============== BUTTON ===============*/

/*=============== LAYOUT ===============*/

/*=============== HEADER ===============*/

/*========== Topbar ==========*/

/*========== Bottom bar ==========*/

/*========== Navbar ==========*/

/*=============== HOME ===============*/

/* Swiper */

/*=============== PRODUCTS ===============*/

/*=============== CATEGORIES ===============*/

/*=============== FEATURES ===============*/

/*=============== PRODUCTS ===============*/

/*=============== CATEGORY ===============*/

/*=============== NEWSLETTER ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/*=============== BANNER ===============*/

/*=============== SHOP ===============*/

/*========== Top ==========*/

/*========== Filters ==========*/

/*========== Products ==========*/

/*========== Pagination ==========*/

/*=============== DETAILS ===============*/

/*=============== DETAILS CONTENT ===============*/

/*=============== ACCOUNT ===============*/

/*=============== CART ===============*/

/*=============== CART BOTTOM ===============*/

/*=============== WISHLIST ===============*/

/*=============== CHECKOUT ===============*/

/*=============== RETURNS ===============*/

/*=============== STEPS ===============*/

/*=============== ACCORDION ===============*/

/*=============== CONTACT ===============*/

/*=============== ACCORDION ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */

/* For medium devices */

/* For small devices */
