/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100..900&family=Instrument+Sans&family=Red+Hat+Text:wght@300..700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
	/*========== Colors ==========*/
	--hue: 13;
	--first-color: hsl(var(--hue), 95%, 54%);
	--title-color: hsl(var(--hue), 4%, 12%);
	--text-color: hsl(var(--hue), 4%, 27%);
	--text-color-light: hsl(var(--hue), 4%, 65%);
	--body-color: hsl(var(--hue), 4%, 100%);
	--container-color: hsl(var(--hue), 4%, 96%);
	--border-color: hsl(var(--hue), 4%, 62%);
	--white-color: hsl(var(--hue), 4%, 100%);
	--gray-color: hsl(var(--hue), 4%, 85%);

	/*========== Font family ==========*/
	--body-font: 'Azeret Mono', monospace;
	--second-font: 'Instrument Sans', sans-serif;

	/*========== Font sizes ==========*/
	--big-font-size: 4rem;
	--h1-font-size: 3rem;
	--h2-font-size: 2.5rem;
	--h3-font-size: 1.75rem;
	--h4-font-size: 1.5rem;
	--largest-font-size: 1.375rem;
	--larger-font-size: 1.25rem;
	--large-font-size: 1.125rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.875rem;

	/*========== Font weight ==========*/
	--weight-500: 500;
	--weight-600: 600;
	--weight-700: 700;
}

/* Responsive typography */

/*=============== BASE ===============*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
input,
textarea,
button {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--text-color);
}

body {
	background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
	color: var(--title-color);
	font-weight: var(--weight-700);
	line-height: 1.2;
}

p {
	line-height: 1.75;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--title-color);
}

button,
input,
textarea {
	background-color: transparent;
	border: none;
	outline: none;
}

img {
	display: block;
	max-width: 100%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
	padding-block: 7.5rem;
}

.section-title {
	font-size: var(--h1-font-size);
	margin-bottom: 3rem;
	position: relative;
}

.title-center {
	text-align: center;
	max-width: 800px;
	margin-inline: auto;
	margin-bottom: 5rem;
}

.section-title::before {
	content: attr(data-title);
	display: block;
	color: var(--text-color);
	text-transform: uppercase;
	font-size: var(--normal-font-size);
	font-weight: var(--weight-500);
	margin-bottom: 0.75rem;
}

.title-center::after {
	content: '';
	position: absolute;
	background-color: var(--gray-color);
	width: 300px;
	height: 1px;
	bottom: -1.75rem;
	left: 50%;
	transform: translateY(-50%);
}

/*=============== SECTION TITLE ===============*/

/*=============== BUTTON ===============*/
.btn {
	display: inline-flex;
	justify-content: center;
	background-color: var(--first-color);
	padding: 1rem 2.5rem;
	color: var(--white-color);
	font-weight: var(--weight-700);
	border-radius: 1rem;
}

/*=============== LAYOUT ===============*/
.container {
	max-width: 1416px;
	margin-inline: auto;
	padding-inline: 1.25rem;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
	margin-bottom: 1rem;
}

/*========== Topbar ==========*/
.topbar {
	background-color: var(--first-color);
	padding-block: 0.5rem;
}

.topbar-container,
.bottom-bar,
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.topbar-container {
	column-gap: 3.75rem;
}

.topbar-list,
.topbar-socials,
.topbar-shipping {
	display: flex;
}

.topbar-list {
	column-gap: 3rem;
}

.topbar-item {
	position: relative;
}

.topbar-item:not(:last-child)::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: var(--white-color);
	right: -1.5rem;
}

.topbar-link,
.topbar-text {
	color: var(--white-color);
	font-weight: var(--weight-500);
	text-transform: uppercase;
}

.topbar-socials {
	column-gap: 0.5rem;
	margin-right: auto;
}

.topbar-social-link {
	width: 38px;
	aspect-ratio: 1/1;
	background-color: var(--white-color);
	border-radius: 50%;
	display: grid;
	place-items: center;
	font-size: var(--large-font-size);
	transition: all 0.3s ease;
}

.topbar-social-link:hover {
	background-color: var(--first-color);
	color: var(--white-color);
}

.topbar-shipping {
	column-gap: 1rem;
}

/*========== Bottom bar ==========*/
.bottom-bar {
	padding-block: 1.25rem;
}

.navbar-form,
.navbar-btns {
	display: flex;
	align-items: center;
}

.navbar-form,
.nice-select {
	border: 1px solid var(--border-color);
	height: 44px;
	border-radius: 2rem;
}

.nice-select {
	width: 230px;
	background-color: var(--container-color);
	line-height: 44px;
}

.navbar-form .nice-select {
	border-left: none;
}

.nice-select:hover {
	border-color: var(--border-color);
}

.nice-select .nice-select-dropdown {
	width: 100%;
	max-height: 300px;
	overflow-y: initial;
}

.navbar-input {
	width: 430px;
	padding-left: 1rem;
}

.navbar-search {
	width: 45px;
	height: 100%;
	border-left: 1px solid var(--border-color);
	cursor: pointer;
}

.navbar-btns {
	column-gap: 0.75rem;
}

.navbar-btn {
	width: 46px;
	aspect-ratio: 1/1;
	border: 1px solid var(--title-color);
	border-radius: 50%;
	display: grid;
	place-items: center;
	font-size: var(--large-font-size);
	transition: all 0.3s ease;
}

.navbar-btn:hover {
	background-color: var(--first-color);
	border-color: var(--first-color);
	color: var(--white-color);
}

/*========== Navbar ==========*/
.navbar {
	padding-block: 0.375rem;
}

.navbar-list,
.navbar-contact {
	display: flex;
}

.navbar-list {
	column-gap: 2.5rem;
}

.navbar-link {
	text-transform: uppercase;
}

.navbar-link,
.navbar-call-link {
	font-weight: var(--weight-500);
	transition: color 0.3s ease;
}

.navbar-link:hover,
.navbar-call-link:hover {
	color: var(--first-color);
}

.navbar-contact {
	align-items: center;
	column-gap: 1.25rem;
}

/*=============== HOME ===============*/

/* Swiper */
.home-swiper .swiper-slide {
	padding-block: 10.5rem;
}

.home-tag {
	background-color: var(--white-color);
	color: var(--first-color);
	display: inline-flex;
	align-items: center;
	column-gap: 0.5rem;
	padding: 0.25rem 1.125rem;
	border-radius: 2rem;
	font-weight: var(--weight-700);
}

.home-title {
	font-size: var(--bid-font-size);
	max-width: 800px;
	margin-block: 1rem 2.5rem;
}

.home-description {
	max-width: 450px;
	margin-bottom: 2rem;
}

.swiper-pagination .swiper-pagination-horizontal {
	bottom: 2rem;
}

.swiper-pagination-bullet {
	width: 20px;
	height: 4px;
	background-color: var(--gray-color);
	opacity: 1;
	border-radius: 0;
}

.swiper-pagination-bullet-active {
	width: 80px;
}

/*=============== PRODUCTS ===============*/
.product-header {
	border: 1px solid var(--border-color);
	position: relative;
	overflow: hidden;
}

.product-img,
.product-content {
	width: 100%;
}

.product-content {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: var(--container-color);
	padding: 1.5rem;
	transform: translateY(7.5rem);
	transition: transform 0.3s ease;
}

.product-card:hover .product-content {
	transform: translateY(0);
}

.product-top,
.product-stars {
	display: flex;
	align-items: center;
}

.product-top {
	justify-content: space-between;
}

.product-starts {
	column-gap: 0.25rem;
}

.product-rating {
	font-size: var(--small-font-size);
	margin-left: 0.25rem;
}

.product-colors,
.product-size {
	display: flex;
	column-gap: 0.625rem;
}

.product-color-input,
.product-color {
	width: 16px;
	height: 16px;
}

.product-color {
	background-color: var(--background-color);
	display: block;
	border-radius: 50%;
}

.product-color-input {
	float: left;
	opacity: 0;
}

.product-size {
	margin-block: 1.125rem;
}

.product-size-label {
	width: 42px;
	height: 23px;
	border: 1px solid var(--border-color);
	display: grid;
	place-items: center;
	border-radius: 2rem;
	font-size: var(--small-font-size);
	line-height: 1.5;
}

.product-size-input {
	display: none;
}

.product-btn,
.product-bottom {
	display: flex;
}

.product-bottom {
	justify-content: space-between;
	padding-top: 1.25rem;
}

.product-title {
	font-size: var(--large-font-size);
	font-weight: var(--weight-500);
	margin-bottom: 0.75rem;
}

.product-title a {
	transition: color 0.3s ease-in;
}

.product-title:hover a,
.product-price {
	color: var(--first-color);
}

.product-price {
	font-size: var(--large-font-size);
}

.product-wishlist {
	font-size: var(--h4-font-size);
}

.product-card .product-tag {
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
	background-color: hsl(51, 100%, 67%);
	color: var(--title-color);
	width: 56px;
	aspect-ratio: 1/1;
	display: grid;
	place-items: center;
	border-radius: 50%;
	text-transform: uppercase;
	font-size: var(--small-font-size);
	font-weight: var(--weight-700);
}

.product-tag.new {
	background-color: hsl(151, 87%, 36%);
	color: var(--white-color);
}

/*=============== CATEGORIES ===============*/
.categories-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.categories-view {
	background-color: transparent;
	border: 1px solid var(--border-color);
	color: var(--title-color);
}

.categories-container,
.categories-items {
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

.categories-items .categories-item:first-child {
	grid-column: 1/-1;
}

.categories-item {
	position: relative;
}

.categories-img {
	width: 100%;
}

.categories-data {
	position: absolute;
	inset: 0;
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
}

.categories-title {
	text-transform: uppercase;
	font-size: var(--h3-font-size);
	margin-bottom: 0.75rem;
}

.categories-description {
	max-width: 250px;
}

.mt-auto {
	margin-top: auto;
}

.categories-list {
	row-gap: 1rem;
}

.categories-link {
	border: 1px solid var(--border-color);
	width: 46%;
	padding: 0.65rem 1rem;
	border-radius: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.3s ease;
}

.categories-link:hover {
	background-color: var(--white-color);
	border-radius: var(--first-color);
	color: var(--first-color);
}

.categories-icon {
	background-color: var(--white-color);
	width: 48px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	color: var(--title-color);
	display: grid;
	place-items: center;
	transform: rotate(325deg);
	transition: all 1s ease;
}

.categories-icon:hover {
	background-color: var(--first-color);
	color: var(--white-color);
	transform: rotate(0deg);
}

.categories-btn {
	position: absolute;
	left: 50%;
	bottom: 0.25rem;
	transform: translate(-50%, -50%);
	background-color: var(--white-color);
	width: 85%;
	padding: 0.625rem;
	border-radius: 2rem;
	text-align: center;
	font-weight: var(--weight-500);
	transition: all 0.3s ease;
}

.categories-btn:hover {
	background-color: var(--first-color);
	color: var(--white-color);
}

/*=============== FEATURES ===============*/
.features {
	grid-template-columns: repeat(4, 1fr);
}

.features-item {
	display: flex;
	align-items: start;
	column-gap: 1.25rem;
}

.features-title {
	font-size: var(--largest-font-size);
	margin-bottom: 0.625rem;
}

/*=============== PRODUCTS ===============*/

/*=============== CATEGORY ===============*/

/*=============== NEWSLETTER ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/*=============== BANNER ===============*/

/*=============== SHOP ===============*/

/*========== Top ==========*/

/*========== Filters ==========*/

/*========== Products ==========*/

/*========== Pagination ==========*/

/*=============== DETAILS ===============*/

/*=============== DETAILS CONTENT ===============*/

/*=============== ACCOUNT ===============*/

/*=============== CART ===============*/

/*=============== CART BOTTOM ===============*/

/*=============== WISHLIST ===============*/

/*=============== CHECKOUT ===============*/

/*=============== RETURNS ===============*/

/*=============== STEPS ===============*/

/*=============== ACCORDION ===============*/

/*=============== CONTACT ===============*/

/*=============== ACCORDION ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */

/* For medium devices */

/* For small devices */
