@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
	--red: hsl(14, 86%, 42%);
	--green: hsl(159, 69%, 38%);
	--rose-50: hsl(20, 50%, 98%);
	--rose-100: hsl(13, 31%, 94%);
	--rose-300: hsl(14, 25%, 72%);
	--rose-400: hsl(7, 20%, 60%);
	--rose-500: hsl(12, 20%, 44%);
	--rose-900: hsl(14, 65%, 9%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Red Hat Text', sans-serif;
	background-color: var(--rose-50);
	padding: 80px 120px;
}

h1 {
	color: var(--rose-900);
	padding-bottom: 32px;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.desserts-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 24px;
	font-size: 16px;
}

.dessert-card {
	position: relative;
}

.dessert-img {
	width: 250px;
	height: 240px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 8px;
	margin-bottom: 38px;
}

.dessert-button {
	color: var(--rose-900);
	border: 1px solid var(--rose-400);
	padding: 12.5px 28px;
	border-radius: 30px;
	width: 160px;
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
}

.dessert-button:hover {
	cursor: pointer;
	border: none;
	background-color: var(--red);
	color: transparent;
	transition: all 0.2s ease-in-out;
}

.dessert-button:hover img {
	visibility: hidden;
}

.dessert-button img {
	padding-right: 8px;
}

.dessert-title {
	color: var(--rose-500);
}

.dessert-body {
	color: var(--rose-900);
	padding: 4px 0;
}

.dessert-price {
	color: var(--red);
}

.cart-title {
	font-size: 32px;
	color: var(--red);
	font-weight: bolder;
}
