@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
	--red: hsl(14, 86%, 42%);
	--green: hsl(159, 69%, 38%);
	--rose-50: hsl(20, 50%, 98%);
	--rose-100: hsl(13, 31%, 94%);
	--rose-300: hsl(14, 25%, 72%);
	--rose-400: hsl(7, 20%, 60%);
	--rose-500: hsl(12, 20%, 44%);
	--rose-900: hsl(14, 65%, 9%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Red Hat Text', sans-serif;
	background-color: var(--rose-50);
	padding: 80px 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.dessert-container {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}

.dessert-card {
	position: relative;
	width: 300px;
}

.dessert-img img {
	width: 100%;
	border-radius: 12px;
	display: block;
}

.dessert-button {
	position: absolute;
	top: 240px;
	left: 50%;
	white-space: nowrap;
	transform: translate(-50%, 50%);
	border: 1px solid var(--rose-400);
	background-color: white;
	border-radius: 20px;
	padding: 13px 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dessert-button:hover {
	background-color: var(--red);
	border-color: var(--red);
}

.dessert-button img {
	padding-right: 10px;
}

.quantity-controls {
	display: none;
}

.dessert-title {
	margin-top: 40px;
}
