:root {
	--modal-duration: 1s;
	--primary-color: #30336b;
	--secondary-color: #be2edd;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	transition: transform 0.3s ease;
}

body.show-nav {
	/* Width of nav */
	transform: translateX(200px);
}
