:root {
	--left-bg-color: rgba(87, 84, 236, 0.7);
	--right-bg-color: rgba(43, 43, 43, 0.8);
	--left-btn-hover-color: rgba(87, 84, 236, 1);
	--right-btn-hover-color: rgba(28, 122, 28, 1);
	--hover-width: 80%;
	--other-width: 20%;
	--speed: 1000ms;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
}
