* {
	box-sizing: border-box;
}

body {
	background-color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 20px;
}
