* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: "Open Sans", sans-serif;
}

.page {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  grid-template-areas:
    "order payment"
    "total total";
  grid-template-columns: 1fr 1fr;
}

.main-nav {
  background-color: #43281c;
  color: #fbf3c0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.logo {
  height: 25px;
  position: relative;
  top: 3px;
}
