* {
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 235, 235);
  margin: 50px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 30, 21);
  padding: 10px 0;
}

header img {
  width: 50px;
}

header p {
  color: rgb(249, 243, 182);
  text-transform: uppercase;
  margin-left: 10px;
}

.sections {
  display: grid;
  grid-template-areas:
    "section1  section2"
    "section1  section3"
    "section4  section4"
    "button button";
  gap: 30px;
  margin-top: 40px;
  border-radius: 10px;
}

.section-1 {
  grid-area: section1;
  background-color: rgb(233, 218, 203);
  border-radius: 10px;
}

.section-2 {
  grid-area: section2;
  /* background-color: rgb(233, 218, 203); */
  background-color: rgb(233, 218, 203);
  border-radius: 10px;
}

.section-3 {
  grid-area: section3;
  background-color: rgb(233, 218, 203);
  border-radius: 10px;
}
.section-4 {
  grid-area: section4;
  background-color: rgb(233, 218, 203);
  border-radius: 10px;
  width: 100%;
}

button {
  grid-area: button;

  width: 100%;
}

.section-1 > p,
.section-2 > p,
.section-3 > p {
  color: rgb(140, 101, 67);
  text-transform: uppercase;
  margin-left: 65px;
}

.item-1,
.item-2,
.item-3 {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  border-bottom: 2px solid rgb(233, 193, 165);
}

.item-1 > span,
.item-2 > span,
.item-3 > span {
  text-align: end;
  width: 10%;
}

.item-1 > p > span,
.item-2 > p > span,
.item-3 > p > span {
  display: block;
  color: rgb(140, 101, 67);
}

.n,
.x {
  width: 30%;
  text-align: left;
}

.x {
  flex-basis: 40%;
  text-align: end;
}

input {
  border-radius: 10px;
  /* border-color: */
  border-style: solid;
  border-color: rgb(227, 132, 64);
  height: 25%;
  width: 40%;
}
