* {
	box-sizing: border-box;
}

body {
	background-color: #686de0;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 20px;
}

.container {
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
	padding: 50px 20px;
	text-align: center;
	max-width: 100%;
	width: 800px;
}
